<nav
  class="bg-gray-800 border-b border-gray-700 fixed w-full z-20 top-0 start-0"
>
  <div class="flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="./assets/images/logo.svg" class="h-8" alt="Cinemaze Logo" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap text-main-color"
      >
        {{ appTitle }}
      </span>
    </a>
    <button
      data-collapse-toggle="main-navbar"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
      aria-controls="main-navbar"
      aria-expanded="false"
    >
      <span class="sr-only">Open Menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>

    <div class="hidden w-full md:block md:w-auto" id="main-navbar">
      <ul
        class="flex flex-col font-medium mt-4 rounded-lg bg-gray-800 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent md:dark:bg-transparent border-gray-700"
      >
        @for (link of navbarLinks; track link.path) {
          <li>
            <a
              routerLink="{{ link.path }}"
              class="block py-2 px-3 md:p-0 text-white rounded bg-transparent hover:text-main-color"
              routerLinkActive="!text-main-color"
            >
              {{ link.label }}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
