@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Variables */
:root {
  --main-color: #ef4444;
  --secondary-color: #455a64;
  --main-light-color: #fecaca;
  --secondary-light-color: #607d8b;
}

/* Swiper */
swiper-container::part(bullet-active) {
  background-color: var(--main-color);
}

/* Custom Selection */
::selection {
  color: #ffffff;
  background: var(--main-color);
}

::-moz-selection {
  color: #ffffff;
  background: var(--main-color);
}
