<section class="custom-info flex justify-center">
  <ul
    class="block w-full p-6 border rounded-lg shadow bg-gray-800 border-gray-700 max-w-[980px]"
  >
    <li class="mb-2">
      <h3 class="text-xl font-bold text-white mb-1">Genres</h3>
      <p>
        @for (genre of tvShow.genres; track genre.id; let last = $last) {
          {{ genre.name }}{{ !last ? ", " : "" }}
        } @empty {
          Unknown
        }
      </p>
    </li>

    <li class="mb-2">
      <h3 class="text-xl font-bold text-white mb-1">First Air Date</h3>
      <p>
        {{
          tvShow.first_air_date
            ? (tvShow.first_air_date | date: "MMMM d, y")
            : "Unknown"
        }}
      </p>
    </li>

    <li class="mb-2">
      <h3 class="text-xl font-bold text-white mb-1">Created By</h3>
      <p>
        @for (
          createdBy of tvShow.created_by;
          track createdBy.id;
          let last = $last
        ) {
          {{ createdBy.name }}{{ !last ? ", " : "" }}
        } @empty {
          Unknown
        }
      </p>
    </li>
  </ul>
</section>

<section class="custom-info !pt-0 flex justify-center">
  <div class="block w-full max-w-[980px]">
    <h3 class="text-3xl font-bold text-white mb-6">
      Recommendations
      {{
        recommendedTvShows.length > 0
          ? "(" + recommendedTvShows.length + ")"
          : ""
      }}
    </h3>

    @if (recommendedTvShows.length > 0) {
      <app-movie-tv-list
        [showTitle]="false"
        [movies]="recommendedTvShows"
        [isMovie]="false"
        [isSmallView]="true"
      />
    } @else {
      <div class="w-full flex justify-center py-8">
        <h6 class="text-lg font-bold text-white">
          There are no tv show recommendations yet
        </h6>
      </div>
    }
  </div>
</section>
